@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #0d0e0e;
		--foreground: #f5f5f5;

		--footer: #080402;

		--nav-text: #f5f5f5;
		--nav-text-hover: #fed679;

		--input: #1d1d1d;

		--border: #6b7280;

		--echo-yellow: #fed679;
		--echo-yellow-select: #fed67966;
	}

	.admin {
		--background: #fff;
		--foreground: #1d1d1d;
		--footer: #f5f5f5;
		--input: #f5f5f5;
		--nav-text: #1d1d1d;
		--nav-text-hover: #555;
	}

	html,
	body {
		@apply bg-background text-foreground antialiased min-h-screen flex flex-col;
		@apply selection:bg-[var(--echo-yellow-select)];
	}
}
